<div class="container mt-5">
  <div class="row">
      <div class="col-lg-6 offset-lg-3">
          <div class="card">
              <div class="card-body">
                  <span class="titulo">
                    <h3 class="text-center">Sube una nueva imágen</h3>
                  </span>
                  <form class="mt-3" >
                    <div class="mb-3">
                      <input class="form-control" type="file" id="formFile">
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Elige un tag
                      </button>
                      <ul class="dropdown-menu dropdown-menu-end">
                        <li><button class="dropdown-item" type="button">TAG1</button></li>
                        <li><button class="dropdown-item" type="button">TAG2</button></li>
                        <li><button class="dropdown-item" type="button">TAG3</button></li>
                      </ul>
                    </div>
                    <p></p>
                    <div class="mb-3">
                        <button routerLink="/" class="btn btn-secondary btn-lg float-start">VOLVER</button>
                        <button type="submit"  class="btn btn-success btn-lg float-end">ACEPTAR</button>
                    </div>
                </form>
              </div>
          </div>
      </div>
  </div>
</div>

