<div class="footer-dark">
    <div style="text-align:center;">
        <h2 class="divider-style" style="margin-top:0px;"><span style="background-color: rgb(40, 45, 50);color: rgb(255,255,255);">PICTURE-GALLERY</span></h2>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <section>
                        <h2>Nosotros</h2>
                        <ul id="list">
                            <li><a href="#">Ing. Sistemas Computacionales</a></li>
                            <li><a href="#">Equipo</a></li>
                        </ul>
                    </section>
                </div>
                <div class="col text-center">
                    <section class="item text">
                        <h2>Acerca de</h2>
                        <p>PictureGallery&nbsp;es&nbsp;una&nbsp;comunidad&nbsp;vibrante&nbsp;de&nbsp;<br>creativos&nbsp;que&nbsp;comparte&nbsp;imágenes.<br></p>
                    </section>
                </div>
            </div>
            <div style="text-align:center;margin-top:-40px;">
                <h2 class="divider-style"></h2>
                <p class="text-center ">Funcionamiento de la pagina&nbsp;<a href="#"
                    target="_blank">here</a></p>
            </div>
            <p class="copyright">PictureGallery © 2021</p>
        </div>
    </footer>
</div>