:host {
  >span {
    position: relative;
    display: block;
    cursor: pointer;

    &:before,
    &:after {
      -webkit-transition: all .6s ease;
      transition: all .6s ease;
    }

    &:before {
      content: ' ';
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: transparent;
    }
  }

  &:hover {
    >span:before {
      background: rgba(0, 0, 0, 0.2);
    }

    >span:after {
      opacity: .5;
    }
  }

  >span:after {
    content: '♡';
    position: absolute;
    z-index: 11;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -17px;
    color: #fff;
    font-size: 60px;
    line-height: 40px;
    opacity: 0;
  }

  >span.licked:after {
    color: rgb(255, 0, 0);
  }
}

@media (max-width: 479px) {
  :host {
    width: 100%;
  }
}
